<% include header %>
<main>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="/js/nav.js"></script>
<h1>About</h1>
<p>Yeet is an app that helps tourists find culture in the beautiful city of Antwerp.<br><br>
It randomly generates a unique route containing three cultural sites everytime you open the app.
This way, you're not forced by websites like Google to visit the obvious touristic places.
</p>
  </main>
  <% include footer %>
