<% include header %>
<main class="aboutcontact">
  <script src="/js/nav.js"></script>
<h1>Contact</h1>
<h4>Adress</h4>
<h5>Ellermanstraat 33<br>2060 Antwerp<br>Belgium<h5>
<h4>Telephone</h4>
<h5>+32 12 345 678<h5>
<h4>Feedback</h4>
<form action="#" method="post">
<textarea name="email" placeholder="e-mail adress"></textarea>
<textarea name="message" placeholder="message"></textarea>
<input type="submit" name="submit" value="SUBMIT" disabled>
</form>
<br>
<p>
  This app was made by ML, NM, AA of the AP University College.
  This app may be used for educational purposes only and is in no way fully finished.
</p>
  </main>
  <% include footer %>
