<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Campus Finder</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin="" />
  <link rel="icon" href="img/favicon.ico">
</head>

<body>
  <header>
    <img src="/img/AP_logo.svg" alt="AP Logo" class="aplogo">
    <h1 class="title">Campus Finder</h1>
  </header>