<% include header %>
<main>
    <div id="mapid"></div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
            integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
            crossorigin=""></script>
    <script src="/js/script.js"></script>
    <script>
       <% for (var i = 0; i < gebouwen.length; i++) {%>
          L.marker([<%=gebouwen[i].geometry.y%>, <%=gebouwen[i].geometry.x%>]).bindPopup("<%=gebouwen[i].attributes.naam%>").addTo(cultureMap);
      <% }%>

    </script>
</main>
<% include footer %>
