@font-face{
  font-family: staalvis;
  src: url("/fonts/steelfish.otf");
}
@font-face{
  font-family: bulldog;
  src: url("/fonts/bulldog.ttf");
}
*{
  box-sizing: border-box;
  font-size: 62.5%;
}
body{
  background-color: #F2F2F2;
  overflow: hidden;
  position: relative;
}
html, body{
  height: 100%;
  width: 100%;
}
#mapid, #cultureMap{
  height: 100vh;
  width: 100vw;
  z-index: 10;
}
#cultureMap.active{
  z-index: -10;
}
header{
  height: 100px;
  background-color: #29FDA3;
  border-radius: 0 0 30px 0;
  display: grid;
  grid-template-columns: 1fr;
  position: sticky;
}
.yeetlogo{
  display: inline;
  width: 30%;
  padding: 1em;
  margin: 0 auto;
  place-self: center;
}
.leaflet-popup-content-wrapper, .leaflet-popup-content{
  margin: 0 auto;
  padding: 0.5em;
  background-color: #FDFDFD;
}

.leaflet-popup-content-wrapper{
  border: 2px solid #29FDA3;
  border-radius: 20px;
}

.leaflet-container a.leaflet-popup-close-button{
  color: #29FDA3 !important;
}

.leaflet-routing-container{
  width: 200px;
}

h1{
  font-family: 'staalvis';
  color: black;
  letter-spacing: 0.05em;
  font-size: 30px;
}
h2{
  font-family: 'staalvis';
  color: #29FDA3;
  letter-spacing: 0.1em;
  font-size: 20px;
}
p{
  font-family: 'bulldog';
  letter-spacing: 0.05em;
  font-size: 16px;
}
p.here{
  font-family: 'bulldog', sans-serif;
  letter-spacing: 0.05em;
  font-size: 20px;
  text-align: center;
}
.popup-marker{
  width: 2em;
}

.aboutcontact h1 {
  font-family: 'bulldog', sans-serif;
  margin-top: 30px;
  text-align: center;
  font-size: 45px;
}

.aboutcontact p {
  margin-top: 30px;
  text-align: center;
  font-size: 24px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.aboutcontact div {
  transform: translate(-50%,0);
  width: 100%;
  height: 150px;
  position: absolute;
  bottom: 0;
  left:50%;
  background-color: #29FDA3;
  background-image: url("../img/toerist.jpg");
  background-size: 100%;
  background-position: center;
  background-blend-mode: darken;
  opacity: .7;
}

.aboutcontact h4 {
  font-family: 'bulldog', sans-serif;
  margin-top: 30px;
  text-align: center;
  font-size: 22px;
  opacity: .4;
}

.aboutcontact h5 {
  font-family: 'bulldog', sans-serif;
  margin-top: 0px;
  text-align: center;
  font-size: 30px;
  opacity: .8;
}

.aboutcontact textarea, input {
  font-family: 'bulldog';
  width: 80%;
  height: 30px;
  font-size: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding-left: 5px;
  background-color: inherit;
  border: 1px solid lightgrey;
}

.aboutcontact textarea:nth-child(2) {
margin-top: 10px;
height: 90px;
}
.aboutcontact input {
font-family: 'bulldog';
border: 0px solid lightgrey;
background-color: #29FDA3;
width: inherit;
font-size: 23px;
}

/*mediaqueries*/
@media only screen and (min-width: 768px) {
  header{
    grid-template-columns: 1fr 1fr 3fr;
  }
  .yeetlogo{
    width: 80%;
  }
  .aboutcontact h1 {
    font-size: 65px;
    margin-top: 45px;
  }

  .aboutcontact p {
    margin-top: 60px;
    font-size: 35px;
    width: 70%;
  }
  .aboutcontact div {
    height:300px;
  }
  .aboutcontact textarea {
    width: 50%;
    height: 40px;
    padding-left: 10px;
  }
  .aboutcontact textarea:nth-child(2) {
    height: 110px;
  }
}
@media only screen and (min-width: 1024px) {
  .aboutcontact div {
    width: 60%;
    height:150px;
  }
  .aboutcontact p {
    width: 60%;
  }
}
